<footer id="main-footer" class="footer">
    <div class="container-fluid">
        <div class="row py-3">
            <div class="col-md-4 text-center my-auto">
                <div class="">
                    <p>
                        © WICKA MMXXII
                    </p>
                </div>
            </div>
            <div class="col-md-4 text-center my-auto">
                <i class="fas fa-phone" aria-hidden="true"></i>
                <a class="phone" href="tel:(+44)-123-45678"> (+44) 123-45678</a>
                <br>
                <i class="fas fa-envelope-open" aria-hidden="true"></i>
                <a class="email" href="mailto:hello@wicka.co.uk">hello@wicka.co.uk</a>
            </div>
            <div class="col-md-4 social text-center my-auto">
                <a href="https://github.com/" target="_blank" rel="noopener noreferrer" aria-hidden="false" aria-label=“GitHub”>
                    <i class="fab fa-github"></i>
                </a>
                <a href=" https://www.facebook.com" target="_blank" rel="noopener noreferrer" aria-hidden="false" aria-label="facebook">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" aria-hidden="false" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</footer>