<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="{% url 'home' %}" class="navbar-brand nav-link main-logo-link">
        <img src="/static/images/wicka_logo.webp" alt="Logo for Wicka" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col my-auto ml-auto justify-content-end" id="main-nav">
        <ul class="list-inline list-unstyled text-center text-lg-right">
            <li class="list-inline-item">
                <a class="navbar-item" href="{% url 'products' %}" id="hampers" aria-haspopup="true" aria-expanded="false">
                    <div class="mx-3">Hampers</div>
            </li>
            <li class="list-inline-item">
                <a class="navbar-item" href="#" id="about" aria-haspopup="true" aria-expanded="false">
                    <div class="mx-3">About</div>
            </li>
            <li class="list-inline-item">
                <a class="navbar-item" href="#" id="blog" aria-haspopup="true" aria-expanded="false">
                    <div class="mx-3">Blog</div>
            </li>
        </ul>
    </div>
    <div class="col my-auto justify-content-end">
        <ul class="list-inline list-unstyled">
            <li class="list-inline-item dropdown">
                <a class="navbar-item nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <div><i class="fas fa-user fa-lg mx-3"></i></div>
                    </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <a href="" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item navbar-item">Logout</a>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item navbar-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item navbar-item">Login</a>
                    {% endif %}
                </div>
            </li>
            <li class="list-inline-item">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}navbar-item{% endif %} nav-link" href="">
                    <div class="text-center">
                        <div><i class="fas fa-shopping-bag fa-lg mx-3"></i></div>
                        <p class="my-0">
                            {% if grand_total %}
                            ${{ grand_total|floatformat:2 }}
                            {% else %}
                            <!--£0.00-->
                            {% endif %}
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>