<div class="container-fluid p-0">
    <div class="row">
        <div class="col best-sellers pt-5">
            <h3 class="text-center">Our customers love what we do</h3>
            <hr class="w-50 mb-3">
        </div>
    </div>
    <div class="col p-0">
        <div id="client-testimonial-carousel" class="carousel slide" data-ride="carousel" style="height:200px;">
            <div class="carousel-inner" role="listbox" aria-label="carousel">
                <div class="carousel-item active text-center p-4">
                    <blockquote class="blockquote text-center">"All of the food is locally sourced and delicious. They also offer an amazing range of delicious foods that are perfect as a gift or to spoil yourself with."
                        <p class="mb-0"></p>
                        <footer class="blockquote-footer"><em>Rachael M</em></footer>
                        <p class="client-review-stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                        </p>
                    </blockquote>
                </div>
                <div class="carousel-item text-center p-4">
                    <blockquote class="blockquote text-center">
                        <p class="mb-0">"Ordering a Wicka Hamper is worth every penny"
                        </p>
                        <footer class="blockquote-footer"><em>Gerald B</em></footer>
                        <!-- Client review stars -->
                        <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
                        <p class="client-review-stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </p>
                    </blockquote>
                </div>
                <div class="carousel-item text-center p-4">
                    <blockquote class="blockquote text-center">
                        <p class="mb-0">"Wicka is the best arrival hamper delivery service I have ever used!"</p>
                        <footer class="blockquote-footer"><em>Lorna F</em></footer>
                        <!-- Client review stars -->
                        <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
                        <p class="client-review-stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </p>
                    </blockquote>
                </div>
                <div class="carousel-item text-center p-4">
                    <blockquote class="blockquote text-center">
                        <p class="mb-0">"The selection is amazing, the packaging is so special and beautiful, and it was delivered directly to my Airbnb before I even arrived"</p>
                        <footer class="blockquote-footer"><em>William D</em></footer>
                        <!-- Client review stars -->
                        <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
                        <p class="client-review-stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </p>
                    </blockquote>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#client-testimonial-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#client-testimonial-carousel" data-slide-to="1"></li>
                <li data-target="#client-testimonial-carousel" data-slide-to="2"></li>
                <li data-target="#client-testimonial-carousel" data-slide-to="3"></li>
            </ol>
        </div>
    </div>
</div>