<div id="carouselContent" class="carousel slide" data-ride="carousel">
    <div class="container-fluid">
        <div class="carousel-inner text-center" role="listbox">
            <div class="carousel-item active text-center p-2" data-interval="4000">
                <div class="user_text">
                    <h6 class="carousel">
                        Free mainland UK delivery on orders over £{{ free_delivery_threshold }}
                    </h6>
                </div>
            </div>
            <div class="carousel-item text-center p-2" data-interval="4000">
                <div class="user_text">
                    <h6 class="carousel">
                        Refer a friend and save £10 on your first hamper
                    </h6>
                </div>
            </div>
            <div class="carousel-item text-center p-2" data-interval="4000">
                <div class="user_text">
                    <h6>
                        <a class="carousel" href="{% url 'account_signup' %}" id="sign_up">Sign up to Wicka and save</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>