{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid page-wrapper bg-leaves mt-3">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-lg-7 col-xl-6 my-2">
            <div class="site-form text-start">
                <!-- Showing blogpost with comments, if there are any, and with a form to fill in to
                leave a comment, if the user is logged in -->
                <h3 class="mb-3 mt-5 text-center">{{ blogpost.title }}</h3>
                <p class="mt-3">{{ blogpost.content }}
                </p>
                <hr>
                <h5 class="heading">Comments:</h5>
                {% if comments %}
                {% for comment in comments %}
                <p class="mt-3">Commented by: {{ comment.author }} </p>
                <p>{{ comment.content }}</p>
                <p>Posted on {{ comment.posted_date }}</p>
                {% endfor %}
                {% else %}
                <p class="mt-3">This blog post has no comments yet.</p>
                {% endif %}
                <hr>
                <h5 class="mb-3 heading">Leave a comment:</h5>
                {% if user.is_authenticated %}
                <form method="POST" class="mx-auto mw-100">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <input type="submit" class="btn btn-confirm mb-5" value="Add comment">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    {% if request.user.is_superuser %}
                    <div class="my-3">
                        <!-- Functionality of editing and deleting blog posts, only showing if the user is logged in with superuser credentials -->
                        <span><a class="btn btn-sml btn-super-link" href="{% url 'add_blogpost' %}">Add</a></span>
                        <span><a class="btn btn-sml btn-super-link" href="{% url 'edit_blogpost' blogpost.id %}">Edit</a></span>
                        <span><a class="btn btn-sml btn-super-link-delete" href="{% url 'confirm_delete_blogpost' blogpost.id %}">Delete</a></span>
                    </div>
                    {% endif %}
                    <p>* = required field</p>
                </form>
                {% else %}
                <!-- Links to login and signup pages, shown if user is not logged in -->
                <p>You have to be signed in to leave comments</p>
                <p> <a class="btn btn-confirm" href="{% url 'account_login' %}">Log in</a> <br>
                    <a class="btn btn-confirm" href="{% url 'account_signup' %}">Register</a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div>
        <a class="btn btn-decline" href="{% url 'blog' %}"><span class="icon"><i class="fas fa-arrow-left">
                </i></span><strong> Back to all Blogs</strong></a>
    </div>
</div>

{% endblock %}