{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col best-sellers pt-5">
            <h2 class="text-center product-name">Hampers</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row pt-3">
        {% for product in products %}
        <!-- product cards -->
        <div class="col-sm-9 col-md-6 col-lg-4">
            <div class="card d-flex align-items-center justify-content-around">
                <!-- Product image -->
                {% if product.image %}
                <a href="#">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="#">
                    <img class="card-img-top img-fluid" src="" alt="{{ product.name }}">
                </a>
                {% endif %}
                <div class="card-body">
                    <!-- product name -->
                    <div class="product-name text-center">
                        <h3 class="">{{ product.name }}</h3>
                    </div>
                    <div class="row py-2 text-secondary">
                        <div class="col">
                            <!-- product price -->
                            <p class="lead mb-0 text-center font-weight-bold">£{{ product.price }}</p>
                            {% if product.rating %}
                            <p class="mb-0 text-center text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</p>
                            {% else %}
                            <p class="mb-0 text-center text-muted">No Rating</p>
                            {% endif %}
                            <!-- <p class="lead mb-0 text-center font-weight-bold">{{ product.rating }} out of 5</p> -->
                        </div>
                    </div>
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-small btn-confirm">View Details</a>
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a class="btn btn-super-link" href="{% url 'edit_product' product.id %}">Edit</a>
                        <a class="btn btn-super-link-delete" href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}